@import "typography.css";
.btn-1
{
  background-color: var(--color-1);
  color: var(--color-2);
  border-radius: 20px;
  font-size: var(--font-size-3);
  padding: 6px 12px;
}
.btn-1:hover{
  color: var(--color-2);
  filter: brightness(70%);
  transition: 0.5s;
}

.btn-2 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
