

  :root
  {
    --padding-0: padding 0px;
    --margin-1: margin 50px;
    --margin-0: margin 0px;
    --mt-msg-error:margin-top 200px;
    --border-0: border 0px;
    --titile-align:center;
  }

    .title-align
    {
      text-align: var(--title-align);
    }

    .padding-0
    {
      padding:var(--padding-0);
    }

          .margin-0
          {
            margin:var(--margin-0);
          }
            .border-0
            {
              border:var(--border-0);
            }
              .field-mt{margin-top: 40px;}
