        :root {
          --color-1: #20639B;
          --color-2: #FFA300;
          --color-3: blue;
          --color-font-form:green;
          --color-black:#000;
          --color-white:#fff;
          --border-color-1: 2px solid var(--color-1);

          /*
              --color-1: #20639B;
              --color-2: #FFA300;
          */
        }

      .font-color-1{  color: var(--color-1)}
      .font-color-2{color: var(--color-2)}
      .font-color-3{color: var(--color-3)}
      .font-color-form{color: var(--color-font-form)}

      .background-color-1{background-color: var(--color-1)}
      .background-color-2{background-color: var(--color-2)}
      .background-color-3{background-color: var(--color-3)}
      .background-color-form{background-color: var(--color-font-form)}

      .font-color-white{color:var(--color-white)}
      .font-color-black{color:var(--color-black)}

      .border-color-1{border:var(--border-color-1);border-radius: 10px;}
