
:root
{
  --font-size-1:10px;
  --font-size-2:20px;
  --font-size-3:30px;
  --font-family-1: "Comic Sans MS" ;
  --font-family-2: "Helvetica" ;
  --font-family-3: "Times New Roman" ;
  --font-bold:bold;
}

.font-size-1{
  font-size: var(--font-1);
}
  .font-size-2{
    font-size: var(--font-2);
  }
    .font-size-3{
      font-size: var(--font-3);
    }

      .font-family-1 {font-family: var(--font-family-2)}



    .font-bold
    {
      font-weight: var(--font-bold);
    }
